* {
	margin: 0;
	padding: 0;
}

body {
	background: #EEFEED;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	margin: 20px 30px;
	 background: #00C17B; 
}

.nav-links {
	display: flex;
	align-items: center;
}

.nav-item {
	margin: 0 20px;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	transition: all 0.4s ease-in-out;
}

.nav-item:hover {
	color: #DAF9D9;
	border-bottom: 1px solid #DAF9D9;
}
.about_background{
	width: 450px;
	height: 500px;
  margin: 0px 500px;

}
.about_info{
	color:#00A493;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}
.Products{
	text-align: center;
	color: #769A75;
	border: 10px solid 	#A1DC43;
	border-radius: 20px;
	margin:0px 550px;

}