body {
    background-color: lightgreen;
}

h2.solid {
    border-style: solid;
}

#chocolate {
    background-color: lightseagreen;
    width: 690px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    padding: auto;
    margin: auto;
}

#deco {
    text-align: center;
    font-size: 50px;
    padding: auto;
    margin: auto;
    border-radius: 70px;
    border-color: darkgreen; 
    border-left-color: greenyellow;
    border-right-color: greenyellow;
}

.navi {
    font-size: 30px;
    font-style: italic;
}


.photu {
    margin:auto;
    padding:auto;
}

.gallery {
    margin: 5px;
    border: solid rgb(245, 9, 9);
    float: left;
    width: 340px;
}
.gallery:hover {
    border: 35px solid rgb(255, 0, 0);
    transition: 0.5s ease-in-out;
}

.desc {
    padding: 10px;
    text-align: center;
}
